body,
html {
  height: 100%;
  margin: 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.spiral {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spiral {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  30% {
    color: green;
  }
  40% {
    color: cyan;
  }
  50% {
    color: blue;
  }
  60% {
    color: indigo;
  }
  70% {
    color: violet;
  }
  80% {
    color: magenta;
  }
  90% {
    color: pink;
  }
  100% {
    color: red;
  }
}

.character {
  color: white;
  font-size: 4em;
  transform: translateY(calc(sin(var(--angle)) * 100px))
    scale(calc(cos(var(--angle)) * 0.5 + 0.5));
  animation: spiral 4s linear infinite, rainbow 8s linear infinite;
}
